/* App.css */

.app-header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.app-content {
  padding: 20px;
}

.app-footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
